# Data handling with Pandas

Pandas is a library optimized for handling one or two dimensional data sources [1]. One dimensional data is stored in a `Series` object, and two dimensional data is stored in a `DataFrame` object.

### Loading the library
It is customary to give the library a short handle '`pd`' at import time:

In [46]:
import pandas as pd

### Loading data from CSV files



Pandas gives us a comprehensive set of tools for loading data from [a variety of sources](http://pandas.pydata.org/pandas-docs/version/0.18.1/io.html), including CSV, Excel, SQL, JSON, and Stata, amongst others. In this demonstration, we'll read a comma separated value file of global emissions data from the year 1751 until 2011.

The `.read_csv` method gives us options for how we want to format the data as we read it in. In reading in our data file, we want to skip the second row (indexed as `1`!) and use the column `Time` as the index of our resulting `DataFrame`.

In [47]:
emissions = pd.read_csv('../../data/Climate/global_emissions.csv', 
                        skiprows=[1], index_col='Year')
emissions  # Display the resulting DataFrame in the notebook

,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C),Carbon emissions from gas fuel consumption,Carbon emissions from liquid fuel consumption,Carbon emissions from solid fuel consumption,Carbon emissions from cement production,Carbon emissions from gas flaring,Per capita carbon emissions (metric tons of carbon; after 1949 only)
Year,,,,,,,
1751,3,0,0,3,0,0,NaN
1752,3,0,0,3,0,0,NaN
1753,3,0,0,3,0,0,NaN
1754,3,0,0,3,0,0,NaN
1755,3,0,0,3,0,0,NaN
1756,3,0,0,3,0,0,NaN
1757,3,0,0,3,0,0,NaN
1758,3,0,0,3,0,0,NaN
1759,3,0,0,3,0,0,NaN
1760,3,0,0,3,0,0,NaN
1761,3,0,0,3,0,0,NaN
1762,3,0,0,3,0,0,NaN
1763,3,0,0,3,0,0,NaN
1764,3,0,0,3,0,0,NaN
1765,3,0,0,3,0,0,NaN
1766,3,0,0,3,0,0,NaN
1767,3,0,0,3,0,0,NaN
1768,3,0,0,3,0,0,NaN
1769,3,0,0,3,0,0,NaN
1770,3,0,0,3,0,0,NaN
1771,4,0,0,4,0,0,NaN
1772,4,0,0,4,0,0,NaN
1773,4,0,0,4,0,0,NaN
1774,4,0,0,4,0,0,NaN
1775,4,0,0,4,0,0,NaN
1776,4,0,0,4,0,0,NaN
1777,4,0,0,4,0,0,NaN
1778,4,0,0,4,0,0,NaN
1779,4,0,0,4,0,0,NaN
1780,4,0,0,4,0,0,NaN
...,...,...,...,...,...,...,...
1982,5111,738,2196,1992,121,64,1.11
1983,5093,739,2176,1995,125,58,1.09
1984,5278,807,2199,2094,128,51,1.11
1985,5438,835,2186,2237,131,49,1.12
1986,5606,830,2293,2300,137,46,1.13
1987,5750,892,2306,2364,143,44,1.14
1988,5963,935,2412,2414,152,50,1.16
1989,6094,982,2459,2457,156,41,1.17
1990,6121,1024,2491,2409,157,40,1.15
1991,6198,1050,2603,2340,161,44,1.15
1992,6136,1084,2500,2350,167,34,1.12
1993,6133,1117,2513,2291,176,36,1.10
1994,6241,1133,2535,2349,186,38,1.10
1995,6374,1152,2559,2430,197,36,1.11
1996,6524,1200,2626,2458,203,37,1.12
1997,6624,1196,2698,2483,209,38,1.12
1998,6610,1225,2762,2379,209,35,1.11
1999,6597,1258,2740,2349,217,33,1.09
2000,6763,1285,2843,2363,226,45,1.10
2001,6929,1312,2845,2489,237,46,1.12
2002,6992,1345,2831,2516,252,48,1.11
2003,7405,1390,2957,2735,276,47,1.16
2004,7784,1435,3050,2948,298,53,1.21
2005,8076,1477,3075,3146,320,59,1.24
2006,8363,1529,3099,3319,356,61,1.27
2007,8532,1563,3080,3442,382,65,1.28
2008,8740,1625,3107,3552,387,68,1.29
2009,8700,1582,3039,3604,412,63,1.27
2010,9140,1698,3100,3832,445,65,1.32
2011,9449,1760,3137,3997,491,63,1.35

### Selecting rows of data by name
Both `DataFrame` and `Series` objects have an `index` attribute which is used to identify their rows. We can access rows of data according to this index, using the `.loc[...]` syntax.

Between the brackets, we can select individual rows:
```
emissions.loc[1875]
```
or ranges of dates:
```
emissions.loc[1908:1920]
```
or ranges beginning or ending at a specific point:
```
emissions.loc[1967:]
emissions.loc[:1805]
```
Give these a try and become comfortable selecting index ranges.

In [51]:
emissions.loc[1985:1987]

,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C),Carbon emissions from gas fuel consumption,Carbon emissions from liquid fuel consumption,Carbon emissions from solid fuel consumption,Carbon emissions from cement production,Carbon emissions from gas flaring,Per capita carbon emissions (metric tons of carbon; after 1949 only)
Year,,,,,,,
1985,5438,835,2186,2237,131,49,1.12
1986,5606,830,2293,2300,137,46,1.13
1987,5750,892,2306,2364,143,44,1.14

### Selecting rows of data by position

In addition to selecting by row names, we can select by the row position using the `.iloc` syntax.

This syntax lets us select the first n rows:
```
emissions.iloc[:5]
```
or, if we wish, the last n, using a minus sign to indicate counting from the end of the `DataFrame`:
```
emissions.iloc[-5:]
```
or rows in the middle:
```
emissions.iloc[10:20]
```

In [52]:
emissions.iloc[-3:]

,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C),Carbon emissions from gas fuel consumption,Carbon emissions from liquid fuel consumption,Carbon emissions from solid fuel consumption,Carbon emissions from cement production,Carbon emissions from gas flaring,Per capita carbon emissions (metric tons of carbon; after 1949 only)
Year,,,,,,,
2009,8700,1582,3039,3604,412,63,1.27
2010,9140,1698,3100,3832,445,65,1.32
2011,9449,1760,3137,3997,491,63,1.35

### Renaming columns
The column names given in the CSV file are too long to use conveniently in dealing with data. We can assign new column names from a list of strings, that will be applied in order as the new column names:

In [53]:
emissions.columns = ['Total Emissions', 'Gas Emissions', 'Liquid Emissions', 
                     'Solid Emissions', 'Cement Emissions', 'Flare Emissions',
                     'Per Capita Emissions']
emissions.iloc[-3:]

,Total Emissions,Gas Emissions,Liquid Emissions,Solid Emissions,Cement Emissions,Flare Emissions,Per Capita Emissions
Year,,,,,,,
2009,8700,1582,3039,3604,412,63,1.27
2010,9140,1698,3100,3832,445,65,1.32
2011,9449,1760,3137,3997,491,63,1.35

### Accessing specific columns

Each of the columns in the `DataFrame` can be accessed as its own `Series` object, using the same syntax we would use to access members of a python dictionary:

In [58]:
emissions['Total Emissions']

Year
1751       3
1752       3
1753       3
1754       3
1755       3
1756       3
1757       3
1758       3
1759       3
1760       3
1761       3
1762       3
1763       3
1764       3
1765       3
1766       3
1767       3
1768       3
1769       3
1770       3
1771       4
1772       4
1773       4
1774       4
1775       4
1776       4
1777       4
1778       4
1779       4
1780       4
        ...
1982    5111
1983    5093
1984    5278
1985    5438
1986    5606
1987    5750
1988    5963
1989    6094
1990    6121
1991    6198
1992    6136
1993    6133
1994    6241
1995    6374
1996    6524
1997    6624
1998    6610
1999    6597
2000    6763
2001    6929
2002    6992
2003    7405
2004    7784
2005    8076
2006    8363
2007    8532
2008    8740
2009    8700
2010    9140
2011    9449
Name: Total Emissions, dtype: int64

Passing a list of column names into this syntax returns a subset of the dataframe:

In [59]:
emissions[['Gas Emissions', 'Liquid Emissions']]

      Gas Emissions  Liquid Emissions
Year
1751              0                 0
1752              0                 0
1753              0                 0
1754              0                 0
1755              0                 0
1756              0                 0
1757              0                 0
1758              0                 0
1759              0                 0
1760              0                 0
1761              0                 0
1762              0                 0
1763              0                 0
1764              0                 0
1765              0                 0
1766              0                 0
1767              0                 0
1768              0                 0
1769              0                 0
1770              0                 0
1771              0                 0
1772              0                 0
1773              0                 0
1774              0                 0
1775              0                 0
1776              0                 0
1777              0                 0
1778              0                 0
1779              0                 0
1780              0                 0
...             ...               ...
1982            738              2196
1983            739              2176
1984            807              2199
1985            835              2186
1986            830              2293
1987            892              2306
1988            935              2412
1989            982              2459
1990           1024              2491
1991           1050              2603
1992           1084              2500
1993           1117              2513
1994           1133              2535
1995           1152              2559
1996           1200              2626
1997           1196              2698
1998           1225              2762
1999           1258              2740
2000           1285              2843
2001           1312              2845
2002           1345              2831
2003           1390              2957
2004           1435              3050
2005           1477              3075
2006           1529              3099
2007           1563              3080
2008           1625              3107
2009           1582              3039
2010           1698              3100
2011           1760              3137

[261 rows x 2 columns]

### Arithmetic
We can perform [element-wise arithmetic](http://pandas.pydata.org/pandas-docs/version/0.18.1/dsintro.html#dataframe-interoperability-with-numpy-functions) on `DataFrame` columns using natural syntax.

In [60]:
emissions['Gas Emissions'] + emissions['Liquid Emissions']

Year
1751       0
1752       0
1753       0
1754       0
1755       0
1756       0
1757       0
1758       0
1759       0
1760       0
1761       0
1762       0
1763       0
1764       0
1765       0
1766       0
1767       0
1768       0
1769       0
1770       0
1771       0
1772       0
1773       0
1774       0
1775       0
1776       0
1777       0
1778       0
1779       0
1780       0
        ...
1982    2934
1983    2915
1984    3006
1985    3021
1986    3123
1987    3198
1988    3347
1989    3441
1990    3515
1991    3653
1992    3584
1993    3630
1994    3668
1995    3711
1996    3826
1997    3894
1998    3987
1999    3998
2000    4128
2001    4157
2002    4176
2003    4347
2004    4485
2005    4552
2006    4628
2007    4643
2008    4732
2009    4621
2010    4798
2011    4897
dtype: int64

### Simple operations

A number of simple operations are built into Pandas to facilitate working with the data. For example, we can show [descriptive statistics](http://pandas.pydata.org/pandas-docs/version/0.18.1/basics.html#descriptive-statistics) such as the maximum value of each column:

In [61]:
emissions.max()

Total Emissions         9449.00
Gas Emissions           1760.00
Liquid Emissions        3137.00
Solid Emissions         3997.00
Cement Emissions         491.00
Flare Emissions          110.00
Per Capita Emissions       1.35
dtype: float64

The year [in which this maximum value occurred](http://pandas.pydata.org/pandas-docs/version/0.18.1/basics.html#index-of-min-max-values):

In [57]:
emissions.idxmax()

Total Emissions         2011
Gas Emissions           2011
Liquid Emissions        2011
Solid Emissions         2011
Cement Emissions        2011
Flare Emissions         1973
Per Capita Emissions    2011
dtype: int64

Or the sum of each column:

In [62]:
emissions.sum()

Total Emissions         373729.0
Gas Emissions            49774.0
Liquid Emissions        131976.0
Solid Emissions         179160.0
Cement Emissions          9366.0
Flare Emissions           3456.0
Per Capita Emissions        65.5
dtype: float64

## Pandas and PySD

By default, PySD will return the results of model simulation as a Pandas `DataFrame`, with the column names representing elements of the model, and the index (row names) as timestamps in the model.

In [5]:
import pysd
model = pysd.read_vensim('../../models/Predator_Prey/Predator_Prey.mdl')
sim_result_df = model.run()
sim_result_df

           Predator Population  Prey Population
0.000000            100.000000     2.500000e+02
0.015625            100.375000     2.577734e+02
0.031250            100.763598     2.657884e+02
0.046875            101.166319     2.740525e+02
0.062500            101.583713     2.825733e+02
0.078125            102.016354     2.913589e+02
0.093750            102.464841     3.004174e+02
0.109375            102.929803     3.097573e+02
0.125000            103.411897     3.193874e+02
0.140625            103.911808     3.293167e+02
0.156250            104.430258     3.395543e+02
0.171875            104.967999     3.501100e+02
0.187500            105.525822     3.609935e+02
0.203125            106.104555     3.722151e+02
0.218750            106.705065     3.837851e+02
0.234375            107.328264     3.957144e+02
0.250000            107.975109     4.080141e+02
0.265625            108.646603     4.206957e+02
0.281250            109.343801     4.337710e+02
0.296875            110.067813     4.472522e+02
0.312500            110.819803     4.611520e+02
0.328125            111.601000     4.754831e+02
0.343750            112.412693     4.902590e+02
0.359375            113.256243     5.054935e+02
0.375000            114.133083     5.212007e+02
0.390625            115.044722     5.373953e+02
0.406250            115.992754     5.540923e+02
0.421875            116.978860     5.713073e+02
0.437500            118.004814     5.890562e+02
0.453125            119.072493     6.073556e+02
...                        ...              ...
49.546875         97519.038826    1.006829e-232
49.562500         97503.801477    8.848783e-233
49.578125         97488.566508    7.777199e-233
49.593750         97473.333919    6.835567e-233
49.609375         97458.103711    6.008108e-233
49.625000         97442.875882    5.280957e-233
49.640625         97427.650433    4.641937e-233
49.656250         97412.427362    4.080352e-233
49.671875         97397.206670    3.586806e-233
49.687500         97381.988357    3.153042e-233
49.703125         97366.772421    2.771810e-233
49.718750         97351.558863    2.436738e-233
49.734375         97336.347682    2.142229e-233
49.750000         97321.138878    1.883366e-233
49.765625         97305.932450    1.655829e-233
49.781250         97290.728398    1.455820e-233
49.796875         97275.526721    1.280006e-233
49.812500         97260.327420    1.125454e-233
49.828125         97245.130494    9.895900e-234
49.843750         97229.935943    8.701509e-234
49.859375         97214.743765    7.651483e-234
49.875000         97199.553961    6.728346e-234
49.890625         97184.366531    5.916744e-234
49.906250         97169.181474    5.203182e-234
49.921875         97153.998789    4.575798e-234
49.937500         97138.818477    4.024172e-234
49.953125         97123.640536    3.539141e-234
49.968750         97108.464968    3.112654e-234
49.984375         97093.291770    2.737635e-234
50.000000         97078.120943    2.407864e-234

[3201 rows x 2 columns]

In this case, may want to downsample the returned data to make it more manageable:

In [6]:
sim_result_df.loc[range(50)]

    Predator Population  Prey Population
0            100.000000     2.500000e+02
1            211.552891     1.768835e+03
2          26037.148846     9.285526e+03
3         155329.734184     3.478882e-02
4         153784.453003     9.557026e-09
5         152254.153168     3.189036e-15
6         150739.081255     1.289315e-21
7         149239.085730     6.300084e-28
8         147754.016571     3.711618e-34
9         146283.725246     2.630076e-40
10        144828.064701     2.236332e-46
11        143386.889347     2.276449e-52
12        141960.055042     2.767832e-58
13        140547.419079     4.010544e-64
14        139148.840172     6.910118e-70
15        137764.178439     1.412661e-75
16        136393.295392     3.419214e-81
17        135036.053919     9.777569e-87
18        133692.318275     3.296444e-92
19        132361.954063     1.307611e-97
20        131044.828225    6.090458e-103
21        129740.809027    3.324255e-108
22        128449.766046    2.122064e-113
23        127171.570156    1.581256e-118
24        125906.093516    1.372768e-123
25        124653.209558    1.385885e-128
26        123412.792973    1.624011e-133
27        122184.719699    2.204904e-138
28        120968.866908    3.462173e-143
29        119765.112994    6.276195e-148
30        118573.337564    1.311216e-152
31        117393.421419    3.151627e-157
32        116225.246549    8.700438e-162
33        115068.696116    2.754017e-166
34        113923.654447    9.979186e-171
35        112790.007019    4.132575e-175
36        111667.640449    1.952753e-179
37        110556.442480    1.051208e-183
38        109456.301976    6.436765e-188
39        108367.108903    4.476281e-192
40        107288.754325    3.530039e-196
41        106221.130389    3.152138e-200
42        105164.130314    3.182398e-204
43        104117.648383    3.627406e-208
44        103081.579931    4.661307e-212
45        102055.821334    6.743337e-216
46        101040.269999    1.096711e-219
47        100034.824354    2.002451e-223
48         99039.383839    4.099159e-227
49         98053.848891    9.395273e-231

### Notes

[1]: While pandas can handle dimensions larger than two, it is clunky. [Xarray](http://xarray.pydata.org/en/stable/) is a package for handling multidimensional data that interfaces well with Pandas.


### Resources
- [Basic introduction](http://pandas.pydata.org/pandas-docs/stable/10min.html) to Pandas constructs
- [More advanced](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook) usage of Pandas syntax
- [Cookbook of Pandas Applications](https://github.com/jvns/pandas-cookbook)